<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ImageDataEntities" connectionString="metadata=res://*/ImageData.csdl|res://*/ImageData.ssdl|res://*/ImageData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HELGA;initial catalog=ImageData;persist security info=True;user id=sa;password=1radish5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>